* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
main {
    display: block;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    background: rgb(192, 156, 119);
    z-index: 1000;
}

header nav {
    text-align: left;
}

header a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 2rem;
    font-weight: bold;
    
}
.header-links{
    transform: translate(0px, -20px);
}
.favicon{
    width: 60px;
}
header a:hover{
    color: rgb(0, 0, 0);  
}
.user-welcome{
    transform: translate(560px, -20px);
    font-size: 24px;
    pointer-events: none;
}
.profile-logo{
    width: 45px;
    transform: translate(380px, -5px);
    pointer-events: none;
    
}
main {
    padding: 60px 0;
}

footer {
background-color: rgb(192, 156, 119);
color: #fff;
padding: 20px;

}
.container-footer{
    margin-top: auto;
}
footer h1{
    text-align: center;
    font-weight: bolder;
}

footer h5 {
    text-align: right;
    margin-bottom: 11px;
    margin-right: 50px;
    
}


.social-icons {
display: flex;
justify-content:end;
flex-direction: row;
}

.social-icons a {
color: #fff;
margin: 10px 10px;
}
.social-icons img{
width: 40px;

}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    width: 1200px;
}
.container-nav{
    margin: 0 auto;
    width: 1000px;
}
.singin-h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
    margin-top: 50px;
}
.line-style {
    border-top: 5px solid rgb(149, 102, 55);
    width: 300px;
    margin: 15px auto;
}
.line-style2{
    border-top: 5px solid rgb(149, 102, 55);
    width: 180px;
    margin: 15px auto;
}
.card {
    display: block;
    padding: 1rem;
    margin-top: 5rem;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 3px 3px 3px rgb(49, 49, 49);
    width: 500px;
    margin-left: 350px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group.has-error label {
    color: tomato;
}
.form-group.has-error .form-control {
    border-color: tomato;
}
.validation-error {
    font-size: 0.85rem;
    color: tomato;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #999999;
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    font-size: 1.125rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(61, 224, 69);
}
.btn-link a{
    text-decoration: none;
    color: #000000;
    margin-left: 100px;
}
.btn-link a:hover{
    color: rgb(61, 224, 69);
}

.btn:hover {
    opacity: 0.8;
}
