* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
main {
    display: block;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    background: rgb(192, 156, 119);
    z-index: 1000;
}

header nav {
    text-align: left;
}

header a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 2rem;
    font-weight: bold;
    
}
.header-links{
    transform: translate(0px, -20px);
}
.favicon{
    width: 60px;
}
header a:hover{
    color: rgb(0, 0, 0);  
}
.user-welcome{
    transform: translate(560px, -20px);
    font-size: 24px;
    pointer-events: none;
}
.profile-logo{
    width: 45px;
    transform: translate(380px, -5px);
    pointer-events: none;
    
}
main {
    padding: 60px 0;
}

footer {
background-color: rgb(192, 156, 119);
color: #fff;
padding: 20px;

}
.container-footer{
    margin-top: auto;
}
footer h1{
    text-align: center;
    font-weight: bolder;
}

footer h5 {
    text-align: right;
    margin-bottom: 11px;
    margin-right: 50px;
    
}


.social-icons {
display: flex;
justify-content:end;
flex-direction: row;
}

.social-icons a {
color: #fff;
margin: 10px 10px;
}
.social-icons img{
width: 40px;

}